# Data Dive One

Nottely Seagraves, Teresah Pinho, and Kennidee Jones

In [30]:
import numpy as np
import pandas as pd
#used to store and echange complex data: allows  you to save python objects and then later load them back into memory
import pickle

In [31]:
#checking working directory
%pwd
%cd C:/Users/14048/OneDrive - Middle Tennessee State University/Documents/School/DATA3500/Datadives/Dive1/data3500dive1

C:\Users\14048\OneDrive - Middle Tennessee State University\Documents\School\DATA3500\Datadives\Dive1\data3500dive1

In [32]:
data = pd.read_csv("Loan_Default.csv", index_col=0)

In [43]:
data.head()

,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
ID,,,,,,,,,,,,,,,,,,,,,
24890,2019,cf,NaN,nopre,type1,p1,l1,nopc,nob/c,116500,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

## Working with missing values.
- How we deal with missing values can have a large impact on our work.
- Do we delete observations?
- Do we fill in observations, and if so, what values do we use?
    - Average, Median, Last, Next?
    
- Workflow includes:
    - convert all missing values to null values
    - analyze the amount and type of missingness in the data
    - appropriately delete or impute missing values
    - evaluate and compare the performance of the treated/imputed data

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148670 entries, 24890 to 173559
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   year                       148670 non-null  int64
 1   loan_limit                 145326 non-null  object
 2   Gender                     148670 non-null  object
 3   approv_in_adv              147762 non-null  object
 4   loan_type                  148670 non-null  object
 5   loan_purpose               148536 non-null  object
 6   Credit_Worthiness          148670 non-null  object
 7   open_credit                148670 non-null  object
 8   business_or_commercial     148670 non-null  object
 9   loan_amount                148670 non-null  int64
 10  rate_of_interest           112231 non-null  float64
 11  Interest_rate_spread       112031 non-null  float64
 12  Upfront_charges            109028 non-null  float64
 13  term                       148629 non-null  float64
 14  Neg_ammortization          148549 non-null  object
 15  interest_only              148670 non-null  object
 16  lump_sum_payment           148670 non-null  object
 17  property_value             133572 non-null  float64
 18  construction_type          148670 non-null  object
 19  occupancy_type             148670 non-null  object
 20  Secured_by                 148670 non-null  object
 21  total_units                148670 non-null  object
 22  income                     139520 non-null  float64
 23  credit_type                148670 non-null  object
 24  Credit_Score               148670 non-null  int64
 25  co-applicant_credit_type   148670 non-null  object
 26  age                        148470 non-null  object
 27  submission_of_application  148470 non-null  object
 28  LTV                        133572 non-null  float64
 29  Region                     148670 non-null  object
 30  Security_Type              148670 non-null  object
 31  Status                     148670 non-null  int64
 32  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(4), object(21)
memory usage: 38.6+ MB

# How many null?
Notice: lots of Null for rates: that is

In [44]:
data.isnull().sum()

year                             0
loan_limit                    3344
Gender                       37659
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [21]:
#Number of observations(0 indicates the number of rows, 1 indicated number of columns)

data.shape[0]

148670

Series([], Name: Gender, dtype: object)

In [41]:
#replace "sex not available" with null

# Check for NaN values in the 'Gender' column
data.Gender[data.Gender == 'Sex Not Available']

In [39]:
#replace sex not found with na
data.Gender[data.Gender == 'Sex Not Available'] = np.nan
# Check for NaN values in the 'Gender' column
nan_values = data.Gender.isna()

C:\Users\14048\AppData\Local\Temp\ipykernel_11912\3611327653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.Gender[data.Gender == 'Sex Not Available'] = np.nan